@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chicle&family=Londrina+Outline&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .body {
    

  }
  
  h1, h2 {
    font-family: "Bubblegum Sans", cursive;
    font-size: 60px;
    font-weight: 100;
    margin-left: 120px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #29c20b; }
  
  h3 {
    font-family: "Bubblegum Sans", "cursive";
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #29c20b; }
  
  /* page layout */
  .main-section {
    display: inline-block;
    vertical-align: top;
    
    
    
  }
  

  .left-section {
    width: 35vw;
    margin-bottom: 100px;
   

    
  }

  .right-section {
    width: 60vw;
    
    
  }

  #top-left {
    margin-bottom: 100px;
    
  }

  .btn--med {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

  .btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn--big {
  padding-top: 5px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 3.2rem;
  margin: 0 30px;
  transition: all 0.5s;
}

.btn--blue {
    border-color: blue;
    color: blue;
    margin-top: 80px;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
    margin-top: 80px;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
    margin-top: 80px;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
    margin-top: 80px;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

  #game-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    .flip-card {
      background-color: transparent;
      width: 120px;
      height: 120px;
      perspective: 1000px;
      transform: rotateY(0deg);
      transition: 0.3s;
      margin: 5px;
      display: inline-block;
    }
    
    /* toggle this class on click */
    .flip {
      transform: rotateY(180deg);
      transition: 0.3s;
    }
    /* toggle this class on click */
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      color: black;
    }
    
    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
    }

    .flip-card img {
      height: 100%;
      width: auto;
    }
    
    .page-title {
      font-family: Arial, Helvetica, sans-serif;
      color: green;
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
      margin: 20px auto;
    }

    .popoverStart {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
      z-index: 100;
      color: greenyellow;
      font-family: "Bubblegum Sans", "cursive";
    }

    .popover-text-small {
      font-size: .2em;
    }
    
    .popoverStart.visible {
      display: flex;
      flex-direction: column;
      animation: overlay-grow 500ms forwards;
    }

    @keyframes popover-grow {
      from {
        background-color: rgba(0, 0, 0, 0); 
        font-size: 0;
      }
      to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url(assets/images/farm4.jpg);
      }
    }
  
    /* The Modal (background) sourced from https://www.w3schools.com/howto/howto_css_modals.asp*/
.infoModal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 

}

/* Modal Content/Box */
.info-box {
  background-color: #fefefe;
  float: center;
  padding: 30px;
  border: 1px solid green;
  width: 
}

/* The Close Button */
.tick-btn {
  color: red;
  float: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    
    

@media screen and (max-width: 850px) {     
  #game-grid {     

    grid-template-columns: repeat(3, auto);
    max-width: 220px;
    margin: auto;
    margin-left: 15px;
    font-size: 30px;
  }


  .main-section{
    display: block;
  }

  .flip-card {
    height: 100px;
    width: 100px;
  }

   .btn--big {
     margin-left: 70px;
      margin-top: 20px;
      width: 60px;
      height: 60px;
      font-size: 1.5rem;
      border-radius: 30%;
      display: flex;
  }


  .btn--med {
    margin: auto;
    margin-left: 70px;
  }

  h1, h2 {
    font-size: 60px;
    margin-left: 10px;
    
  }
  
  h3 {
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}
  

  