@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chicle&family=Londrina+Outline&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .body {
    

  }
  
  h1, h2 {
    font-family: "Bubblegum Sans", cursive;
    font-size: 60px;
    font-weight: 100;
    margin-left: 120px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #29c20b; }
  
  h3 {
    font-family: "Bubblegum Sans", cursive;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #29c20b; }
  
  /* page layout */
  .main-section {
    display: inline-block;
    vertical-align: top;
    
    
    
  }
  

  .left-section {
    width: 35vw;
    margin-bottom: 100px;
   

    
  }

  .right-section {
    width: 60vw;
    
    
  }

  #top-left {
    margin-bottom: 100px;
    
  }

  .btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn--big {
  padding-top: 5px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 3.2rem;
  margin: 0 30px;
  transition: all 0.5s;
}

.btn--blue {
    border-color: blue;
    color: blue;
    margin-top: 80px;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
    margin-top: 80px;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
    margin-top: 80px;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
    margin-top: 80px;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

  #game-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    .flip-card {
      background-color: transparent;
      width: 120px;
      height: 120px;
      perspective: 1000px;
      transform: rotateY(0deg);
      transition: 0.3s;
      margin: 5px;
      display: inline-block;
    }
    
    /* toggle this class on click */
    .flip {
      transform: rotateY(180deg);
      transition: 0.3s;
    }
    /* toggle this class on click */
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      color: black;
    }
    
    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
    }

    .flip-card img {
      height: 100%;
      width: auto;
    }
    
    .page-title {
      font-family: Arial, Helvetica, sans-serif;
      color: green;
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
      margin: 20px auto;
    }
    
  
    
    
    
 
  

  @media screen and (min-width: 200px) {
    #grid {
        max-width: 90%;
        margin: auto;
      }
      
  }

  @media screen and (min-width: 400px) {
    #grid {
        max-width: 70%;
        margin: auto;
      }


  }

  @media screen and (min-width: 767px) {
    #grid {
        max-width: 60%;
        margin: auto;
      }
  }

  @media screen and (max-width: 750px) {
    .card {
      width: 70px;
      height: 70px;
    }
  }

  @media screen and (max-width: 992px) {
    .card {
    width: 70px;
    height: 70px; 
    margin: 10px;
    }
    
    .btn--big {
      margin: 0 10px;
      padding: 5px;
      border: 5px solid;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
  }
  .game-grid {
      margin: 0 5px;
      margin-top: 150px;
      padding: 5px;
      border: 5px;
      width: 50px;
      height: 50px;
      font-size: 0.5rem;
  }
  }