@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chicle&family=Londrina+Outline&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-image: url('../images/farm4.jpg');
    background-position: right, left top;
    background-repeat: no-repeat, repeat;
    padding: 0;
    background-size: cover;
  
  }
  

  h1, h2 {
    font-family: "Bubblegum Sans", cursive;
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    color: red; 
    letter-spacing: 0.2rem;
  }
  
  h3 {
    font-family: "Bubblegum Sans", "cursive";
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    color: red; 
    text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
  }
  

  /* page layout */
  .main-section {
    display: inline-block;
    vertical-align: top;
  
  }
  
  .left-section {
    width: 35vw;
    margin-bottom: 100px; 
    margin-top: 60px;
  }

  .right-section {
    width: 60vw; 
  }

  #top-left {
    margin-bottom: 100px;
    margin-top: -30px;
    
  }
  
  .btn--med {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    border-color: black;
}

.btn--big {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 3.2rem;
  margin: 0 30px;
  transition: all 0.5s;
}

.btn--blue {
    border-color: blue;
    color: blue;
    margin-top: 20px;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
    margin-top: 80px;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
    margin-top: 80px;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
    margin-top: 20px;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

  #game-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    .flip-card {
      background-color: transparent;
      width: 120px;
      height: 120px;
      perspective: 1000px;
      transform: rotateY(0deg);
      transition: 0.3s;
      margin: 5px;
      display: inline-block;
      border-color: black;
    }
    
    .flip {
      transform: rotateY(180deg);
      transition: 0.3s;
    }
   
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      color: black;
    }
    
    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
    }

    .flip-card img {
      height: 100%;
      width: auto;
    }
    
    .page-title {
      font-family: Arial, Helvetica, sans-serif;
      color: green;
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
      margin: 20px auto;
    }
  
    /*  Modal sourced from https://www.w3schools.com/howto/howto_css_modals.asp*/

/* Modal Content/Box */
.info-box {
  background-color: #fefefe;
  float: center;
  padding: 30px;
  border: 1px solid rgb(37, 163, 37);
 
}

/* The Close Button */
.tick-btn {
  color: red;
  float: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    
.startModal {

} 

.modal.content{
  background-color: #fefefe;
  float: center;
  padding: 30px;
  border: 1px solid rgb(37, 163, 37);
}

/* footer sourced from whiskey project*/
footer {
	  background-color: rgb(44, 216, 10);
    height: 50px;
    color: white;
    text-align: center;
}

footer > span {
	color: white
}

footer > a {
	color: white;
	text-decoration: none;
	padding: 0 0px;
	font-size: 1rem;
}

footer > p {
	color: white;
}



@media screen and (max-width: 850px) {     
  #game-grid {     

    grid-template-columns: repeat(3, auto);
    max-width: 220px;
    margin: auto;
    margin-left: 15px;
    font-size: 30px;
  }


  .main-section{
    display: block;
  }

  .flip-card {
    height: 100px;
    width: 100px;
  }

   .btn--big {
      margin-left: 30px;
      margin-top: 50px;
      width: 60px;
      height: 60px;
      font-size: 1.5rem;
      border-radius: 30%;
  }

  #top-left {
    width: 100vw;
  }

  .btn--med {
    margin: auto;
    margin-left: 70px;
  }

  h1, h2 {
    font-size: 60px;
    margin-left: 10px;
    
  }
  
  h3 {
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
}
  
.label {
  width: 100vw;
}
  