@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Finger+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
    
    html {
      min-height: 100vh;
    }
    
    body {
      margin: 0;
      background: #f3ef1479;
    }
    
    .page-title {
      color: #FF6D00;
      font-family: Creepy, serif;
      font-weight: normal;
      text-align: center;
      font-size: 6em;
    }
    
  
    .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 100px);
      grid-gap: 1em;
      justify-content: center;
      perspective: 500px;
      margin: 20px auto;
    }
    
    .grid-item {
      background-color: rgb(60, 177, 31);
      height: 100px;
      width: 100px;
      border-radius: 10px;
    }
    

.card {
    position: relative;
    height: 175px;
    width: 125px;
  }